* {
    margin: 0;
    padding: 0;
}

#test {
    margin: 0 auto;
    padding: 1rem;
}

.fizzbuz, .starloop {
    margin: 0 auto;
    text-align: center;
}


h2 {
    margin: 0;
    padding: 0.2rem;
}